@font-face {
    font-family: 'MinhaFonte';
    src: url('/CardsXML-JQuery//fonts/GlassAntiqua-Regular.ttf')
  }

@keyframes deslizar {
    0% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(-5%);
    }
}


body{
    background-color: rgb(111, 20, 20);
}

h1{
    color: white;
    text-align: center;
    font-family: 'MinhaFonte', sans-serif ;
    font-size: 50px;
    
}

.oculto{
    display: none;
    padding: 10px;
}

i{
    animation: deslizar 1s ease-in-out;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.swiper{
    display: block;
    width: 43%;
    color: white;
    text-align: center;
    border: 3px solid white;
    background-color:  rgb(63, 12, 12);
    border-radius: 20px;
    box-shadow: 4px 9px 20px 1px black;
}


.rosto{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border:  rgb(63, 12, 12) 3px solid;
}

.image-card{
    width: 40%;
    border-radius: 50%;
    border: 4px solid   rgb(63, 12, 12);
    padding: 3px;
    background-color: rgb(255, 255, 255);
}


.nome{
    
    display: inline;
    font-size: x-large;
    border-bottom: 1px solid;
}


